## .NET
bin/
obj/
out/
publish/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/

## Testes
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage/

## Lambda deployment
*.zip

## OS
.DS_Store
Thumbs.db

## Segredos locais
*.env
.env.*
appsettings.Development.json
appsettings.local.json
